<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">ChaosBlade Platform </div>
    <div class="list-group list-group-flush">
      <a routerLink="/" class="list-group-item list-group-item-action bg-light">Create Experiment</a>
      <a routerLink="/addhost" class="list-group-item list-group-item-action bg-light">Add Host</a>
      <a routerLink="/history" class="list-group-item list-group-item-action bg-light">Experiment History</a>
      <a routerLink="/hostmanager" class="list-group-item list-group-item-action bg-light">Host Manager</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
