<p></p>
<p>
  <ngb-alert *ngIf="successMessage" [type]="type" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
</p>
<mat-card>
  <mat-card-title>
    Create Experiment
  </mat-card-title>
  <p></p>
  <form class="example-form" [formGroup]="createExperimentForm">
    <mat-form-field appearance="fill">
      <mat-label>Target</mat-label>
      <mat-select formControlName="target" (selectionChange)="changeActionList()">
        <mat-option *ngFor="let item of targetList" value="{{item}}" >{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill">
      <mat-label>Scope</mat-label>
      <mat-select formControlName="scope" (selectionChange)="changeActionList()">
        <mat-option *ngFor="let item of scopeList" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <mat-select formControlName="action" (selectionChange)="changeFlagList()">
        <mat-option *ngFor="let item of actionList" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill">
      <mat-label>Host</mat-label>
      <mat-select formControlName="hostID" >
        <mat-option *ngFor="let item of hostList" value="{{item.hostID}}" >{{item.hostName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card>
      <mat-card-subtitle>Flag
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="addFlag()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
          </svg>
        </button>
      </mat-card-subtitle>
      <table class="example-full-width" cellspacing="0" *ngFor="let group of flagArray.controls; let i = index;" formArrayName="flags">
        <tr [formGroupName]='i'>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Flag</mat-label>
              <mat-select formControlName="flagName" (selectionChange)="updateDisabilityFlag(i)">
                <mat-option *ngFor="let item of flagList" value="{{item.name}}" >{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Value</mat-label>
              <input formControlName="flagValue" matInput>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="removeFlag(i)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
          </td>
        </tr>
      </table>
    </mat-card>
    <p></p>
    <mat-card>
      <mat-card-subtitle>Matcher
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="addMatcher()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
          </svg>
        </button>
      </mat-card-subtitle>
      <table class="example-full-width" cellspacing="0" *ngFor="let group of matcherArray.controls; let i = index;" formArrayName="matchers">
        <tr [formGroupName]='i'>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Matcher</mat-label>
              <mat-select formControlName="matcherName" (selectionChange)="updateDisabilityMatcher(i)">
                <mat-option *ngFor="let item of matcherList" value="{{item.name}}">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Value</mat-label>
              <input formControlName="matcherValue" matInput placeholder="Ex. California" (change)="changeActionList()">
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="removeMatcher(i)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
          </td>
        </tr>
      </table>
    </mat-card>
    <p></p>
    <button mat-icon-button class="btn btn-primary" (click)="createExperiment()">
      Create
    </button>
  </form>
</mat-card>

